@page "/"

<PageTitle>Home</PageTitle>

<title>SmartDesk</title>
<h1 class="text-center">Bienvenue sur SmartDesk</h1>
<a href="/tickets" class="btn btn-primary btn-lg d-block mx-auto mt-4" style="width: 200px;">
    <i class="bi bi-ticket-perforated"></i> Accéder aux Tickets
</a>